.card {
  justify-content: space-between;
  align-items: center;
  min-height: 215px;
  margin-bottom: rem(40);
  padding: 20px 10px;

  background-color: $warning;
  border-radius: rem(5);
  cursor: pointer;

  transition: $def-transition;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }

  &--play {
    background-color: $success;
  }

  &--cat {
    margin-bottom: 0;
    padding: 0;

    transform-style: preserve-3d;

    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease;
  }

  &--rotated {
    transform: rotateY(180deg);

    svg {
      transform: scale(0);
    }
  }

  &--disabled {
    opacity: 0.5;

    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
      cursor: auto;
    }
  }
}

.card-container {
  margin-bottom: rem(40);

  perspective: 500px;
}

@media screen and (max-width: $tableWidth) {
  .card,
  .card-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .card,
  .card-container {
    margin-bottom: 20px;
  }
}

.card__name {
  margin-bottom: 0;

  font-size: rem(28);
  color: $secondary;
}

.card__icon {
  width: 140px;
  height: 140px;
  margin-bottom: 15px;

  &--horse {
    fill: $brown;
  }

  &--ball {
    fill: $red;
  }

  &--bike {
    fill: $orange;
  }

  &--duck {
    fill: $yellow;
  }

  &--dinosaur {
    fill: $green;
  }

  &--suit {
    fill: $blue;
  }

  &--baby {
    fill: $violet;
  }

  &--puzzle {
    fill: $dark;
  }
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}

.card__back {
  transform: rotateY(180deg);
}

.card__img {
  width: 100%;
  height: 79%;

  border-radius: rem(5) rem(5) 0 0;

  object-fit: cover;

  .card--play & {
    height: 100%;

    border-radius: rem(5);
  }
}

.card__word {
  margin-top: rem(5);
  margin-bottom: 0;

  font-size: rem(28);
  text-align: center;
  color: $secondary;


  .card--play & {
    display: none;
  }
}

.card__rotate {
  position: absolute;
  right: rem(18);
  bottom: rem(7);

  width: rem(32);
  height: rem(32);

  transition: $def-transition;

  fill: $primary-dark;

  .card--play &,
  .card--rotate & {
    transform: scale(0);
  }
}
