.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: rem(100);
  padding: rem(20) 0 rem(20);
  overflow-x: hidden;
}

.rating__icon {
  flex-shrink: 0;
  width: rem(60);
  height: rem(60);
  margin-left: rem(15);

  &--smile {
    fill: $warning;
  }

  &--sad {
    fill: $info;
  }
}
