.switch {
  position: relative;

  display: block;
  width: 3.8em;
  height: 1em;
  margin-bottom: 0;
  background: rgba($color: $warning, $alpha: 0.8);

  font-size: rem(50);

  border-radius: 1em;

  transition: $def-transition;

  &::before,
  &::after {
    content: "Train";
    position: absolute;
    top: 0.1em;
    right: 0.6em;

    font-size: rem(40);
    color: $secondary;

    transition: $def-transition;
  }

  &::before {
    content: "Play";
    left: 0.8em;

    opacity: 0;
  }

  &--play {
    background: rgba($color: $success, $alpha: 0.8);

    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }

  input {
    position: absolute;

    opacity: 0;
  }

  div {
    position: relative;
    top: -0.1em;
    left: -0.1em;

    width: 1.2em;
    height: 1.2em;

    background: $secondary;
    border-radius: 1.2em;
    box-shadow: 0 0.1em 0.3em rgba($color: $black, $alpha: 0.3);

    transition: $def-transition;
  }

  input:checked + div {
    transform: translateX(2.8em);
  }
}
